<h1>プロフィール編集</h1>

<%= form_with model: @user do |form| %>
  <%= form.label :name, "名前：" %>
  <%= form.text_field :name %>
  <%= form.label :image, "アイコン：" %>
  <%= form.file_field :image %>
  <%= form.label :profile, "プロフィール：" %>
  <%= form.text_area :profile %>
  <div><%= form.submit "保存" %></div>
<% end %>