<% if user_signed_in? && @user == current_user %>
  <h1>マイページ</h1>
<% else %>
  <h1>ユーザーページ</h1>
<% end %>

<%= image_tag @user.picture.url %>
<%= image_tag @user.image.url, class: 'icon_image' %>
<p>名前 : <%= @user.name %></p>
<p>プロフィール : <%= @user.profile %></p>

<%= render "relationships/follow_button" , user: @user %>

<%= flash[:success] %>
<%= flash[:alert] %>

<% @user.posts.each do |post| %>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="row">
          <%= link_to post.title, post %>
        </div>
        <div class="row">
          <%= post.content.truncate(30) %>
        </div>
        <div class="row">
          <%= time_ago_in_locale(post.updated_at) %>
        </div>
      </div>
      <%= image_tag post.picture_url(:thumb) if post.picture.present? %>
    </div>
  </div>
<% end %>

<% if user_signed_in? && @user == current_user %>
  <%= link_to 'New Post', new_post_path %>
  <%= link_to "プロフィール編集", edit_user_path(current_user) %>
  <%= link_to 'ログイン情報変更', edit_user_registration_path(current_user) %>
<% end %>
<%= paginate @posts %>