<% if user_signed_in? && @user == current_user %>
  <h1>マイページ</h1>
<% else %>
  <h1>ユーザーページ</h1>
<% end %>

<img src=<%= @user.image.url %> class = "icon_image">
<p>名前 : <%= @user.name %></p>
<p>誕生日 : <%= @user.birthday %></p>
<p>メールアドレス : <%= @user.email %></p>
<p>プロフィール : <%= @user.profile %></p>

<%= render "relationships/follow_button" , user: @user %>

<%= flash[:success] %>
<%= flash[:alert] %>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th>Image</th>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

<tbody>
  <% @user.posts.each do |post| %>
     <tr>
        <td>
          <%= image_tag post.picture_url(:thumb) if post.picture.present? %>
        </td>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= link_to 'Show', post %></td>
        <% if post.user_id == current_user.id %>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? && @user == current_user %>
  <%= link_to 'New Post', new_post_path %>
<% end %>
