<% if user_signed_in? && @user == current_user %>
  <h1>マイページ</h1>
<% else %>
  <h1>ユーザーページ</h1>
<% end %>

<div class="jumbotron jumbotron-fluid" style="background: url(<%= asset_path @user.picture.url %>);">
  <div class="container"></div>
</div>
<%= image_tag @user.image.url, class: 'icon_image' %>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="row">
        <p>名前 : <%= @user.name %></p>
      </div>
      <div class="row">
        <div class="col">
          <p>プロフィール : <%= @user.profile %></p>
        </div>
      </div>
    </div>
    <div class="side col">
      <div class="row">
        <%= render "relationships/follow_button" , user: @user %>
      </div>
      <div class="row">
        <% if user_signed_in? && @user == current_user %>
          <div class="col">
            <%= link_to "プロフィール編集", edit_user_path(current_user) %>
          </div>
          <div class="col">
            <%= link_to 'ログイン情報変更', edit_user_registration_path(current_user) %>
          </div>
          </div>
          <div class="row">
            <div class="col">
              <%= link_to '新規投稿', new_post_path %>
            </div>
          </div>
          <% end %>
        </div>
      </div>

<%= flash[:success] %>
<%= flash[:alert] %>

    <% @posts.each do |post| %>
      <div class="row">
        <div class="col">
          <div class="row">
            <%= link_to post.title, post %>
          </div>
          <div class="row">
            <%= post.content.truncate(30) %>
          </div>
          <div class="row">
            <%= time_ago_in_locale(post.updated_at) %>
          </div>
        </div>
        <%= image_tag post.picture_url(:thumb) if post.picture.present? %>
      </div>
    <% end %>
  </div>
</div>

<%= paginate @posts %>