<%= stylesheet_link_tag 'views/users', media: 'all', 'data-turbolinks-track': 'reload' %>

<% if user_signed_in? && @user == current_user %>
  <h1>マイページ</h1>
<% else %>
  <h1>ユーザーページ</h1>
<% end %>

<div class="user_image">
  <div class="banner" style="background-image: url('<%= @user.picture.url %>');"></div>
  <%= image_tag @user.image.url, class: 'icon', onerror: 'this.onerror=null;this.src="/images/user/image/s0041_30_0.jpg"' %>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col">
        <h2><%= @user.name %></h2>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p><%= @user.profile %></p>
        </div>
      </div>
    </div>
    <div class="side col">
      <div class="row">
        <% if user_signed_in? %>
          <%= render "relationships/follow_button" , user: @user %>
        <% end %>
      </div>
      <div class="row">
        <% if user_signed_in? && @user == current_user %>
          <div class="col">
            <%= link_to "プロフィール編集", edit_user_path(current_user) %>
          </div>
          <div class="col">
            <%= link_to 'ログイン情報変更', edit_user_registration_path(current_user) %>
          </div>
        <% end %>
      </div>
      <div class="row">
        <div class="col">
          <%= link_to '新規投稿', new_post_path %>
        </div>
      </div>
    </div>
  </div>

  <%= flash[:success] %>
  <%= flash[:alert] %>

  <% @posts.each do |post| %>
    <div class="row">
      <div class="col">
        <div class="row">
          <%= link_to post.title, post %>
        </div>
        <div class="row">
          <%= post.content.truncate(30) %>
        </div>
        <div class="row">
          <%= time_ago_in_locale(post.updated_at) %>
        </div>
      </div>
      <% if post.picture.present? %>
        <%= image_tag post.picture_url(:thumb), onerror: 'this.onerror=null;this.src="/images/user/image/s0041_30_0.jpg"' %>
      <% else %>
        <%= image_tag "/images/post/default_posted_image.jpg" %>
      <% end %>
    </div>
  <% end %>
</div>

<%= paginate @posts %>