<h1>最新の記事一覧</h1>

<div class="row justify-content-md-center">
  <div class="col">
    <%= link_to @first_post.title, post_path(@first_post) %>
    <%= @first_post.user.name %>
    <%= image_tag @first_post.picture_url if @first_post.picture.present? %>
    <%= t @first_post.updated_at %>
  </div>
</div>

<% @other_post.each_slice(2) do |left_post, right_post| %>
  <div class="row justify-content-md-center">
    <div class="col">
      <%= link_to left_post.title, left_post %>
      <%= left_post.user.name %>
      <%= image_tag left_post.picture_url if left_post.picture.present? %>
      <%= t left_post.updated_at %>
    </div>
    <div class="col">
      <% if !right_post.nil? %>
        <%= link_to right_post.title, right_post%>
        <%= right_post.user.name %>
        <%= image_tag right_post.picture_url if right_post.picture.present? %>
        <%= t right_post.updated_at %>
      <% end %>
    </div>
  </div>
<% end %>

<br>

<h1>新規ユーザー</h1>

<ul class= "new_users">
  <% @users.each do |user| %>
    <li>
      <%= image_tag user.image.url, class: "icon_image" %>
      <p>
        <%= link_to user.name, user %>
      </p>
    </li>
  <% end %>
</ul>

<div class= "under_link">
  <%= link_to "もっと見る", users_path %>
</div>