<h5 class="font-weight-bold">最新の記事一覧</h5>

<div class="row justify-content-md-center">
  <% if @first_post.present? %>
    <div class="col">
      <div class="row h2">
        <%= link_to @first_post.title, post_path(@first_post) %>
      </div>
      <div class="row">
        <%= link_to @first_post.user.name, user_path(@first_post.user) %>
      </div>
      <div class="row small">
        <%= time_ago_in_locale(@first_post.updated_at) %>
      </div>
      <div class="row small">
        <%= @first_post.content.truncate(30) %>
      </div>
    </div>
    <div class="col-6 mr-auto">
      <% if @first_post.picture.present? %>
        <%= image_tag @first_post.picture_url, class: "img-thumbnail img-responsive", onerror: 'this.onerror=null;this.src="/images/user/image/s0041_30_0.jpg"' %>
      <% else %>
        <%= image_tag "/images/post/default_posted_image.jpg" %>
      <% end %>
    </div>
  <% end %>
</div>

<% @other_post.each_slice(2) do |left_post, right_post| %>
  <div class="row justify-content-md-center">
    <div class="col">
      <div class="row">
        <% if left_post.picture.present? %>
          <%= image_tag left_post.picture_url, class: "img-thumbnail img-responsive", onerror: 'this.onerror=null;this.src="/images/user/image/s0041_30_0.jpg"' %>
        <% else %>
          <%= image_tag "/images/post/default_posted_image.jpg" %>
        <% end %>
      </div>
      <div class="row h2">
        <%= link_to left_post.title, left_post %>
      </div>
      <div class="row">
        <%= link_to left_post.user.name, user_path(left_post.user) %>
      </div>
      <div class="row small">
        <%= time_ago_in_locale(left_post.updated_at) %>
      </div>
    </div>
    <div class="col">
      <% if !right_post.nil? %>
        <div class="row">
          <% if right_post.picture.present? %>
            <%= image_tag right_post.picture_url, class: "img-thumbnail img-responsive", onerror: 'this.onerror=null;this.src="/images/user/image/s0041_30_0.jpg"' %>
          <% else %>
            <%= image_tag "/images/post/default_posted_image.jpg" %>
          <% end %>
        </div>
        <div class="row h2">
          <%= link_to right_post.title, right_post%>
        </div>
        <div class="row">
          <%= link_to right_post.user.name, user_path(right_post.user) %>
        </div>
        <div class="row small">
          <%= time_ago_in_locale(right_post.updated_at) %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<br>

<h1>新規ユーザー</h1>

<ul class= "new_users">
  <% @users.each do |user| %>
    <li>
      <%= image_tag user.image.url, class: "top_user_icon rounded-circle", onerror: 'this.onerror=null;this.src="/images/user/image/s0041_30_0.jpg"' %>
      <p>
        <%= link_to user.name, user %>
      </p>
    </li>
  <% end %>
</ul>

<div class= "under_link">
  <%= link_to "もっと見る", users_path %>
</div>