<h1>最新の記事一覧</h1>

<div class="row justify-content-md-center">
  <div class="col">
    <%= @first_post.title %>
    <%= @first_post.user.name %>
    <%= @first_post.picture_url %>
    <%= t @first_post.created_at %>
  </div>
</div>

<% @other_post.each_slice(2) do |left_post, right_post| %>
  <div class="row justify-content-md-center">
    <div class="col">
      <%= left_post.title %>
      <%= left_post.user.name %>
      <%= left_post.picture_url %>
      <%= t left_post.created_at %>
    </div>
    <div class="col">
      <% if !right_post.nil? %>
        <%= right_post.title %>
        <%= right_post.user.name %>
        <%= right_post.picture_url %>
        <%= t right_post.created_at %>
      <% end %>
    </div>
  </div>
<% end %>

<br>

<%= paginate @posts %>

<h1>新規ユーザー</h1>

<ul class= "users">
  <% @users.each do |user| %>
    <li>
      <%= image_tag user.image.url, class: "icon_image" %>
      <%= link_to user.name, user %>
    </li>
  <% end %>
</ul>

<%= link_to "もっと見る", users_path %>