<p id="notice"><%= notice %></p>

<h1>記事一覧</h1>

<% @search_posts.each do |post| %>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="row lead">
          <%= link_to post.title, post %>
        </div>
        <div class="row small">
          <%= post.content.truncate(30) %>
        </div>
        <div class="row samll">
          <%= t post.created_at %>
          <%= link_to post.user.name, user_path(post.user) %>
        </div>
      </div>
      <% if post.picture.present? %>
        <%= image_tag post.picture_url(:thumb), onerror: 'this.onerror=null;this.src="/images/user/image/s0041_30_0.jpg"' %>
      <% else %>
        <%= image_tag "/images/post/default_posted_image.jpg" %>
      <% end %>
    </div>
  </div>
<% end %>

<%= paginate @search_posts %>