

<p id="notice"><%= notice %></p>

<h1>記事一覧</h1>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th>Image</th>
      <th>created_at</th>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  

  <tbody>
    <% @search_posts.each do |post| %>
      <tr>
        <td>
          <%= image_tag post.picture_url(:thumb) if post.picture.present? %>
        </td>
        <td><%= time_ago_in_words(post.created_at) %>前</td>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= paginate @search_posts %>



