<div class="container">
  <div class="main">
<p id="notice"><%= notice %></p>

<%= link_to @post.user.name,user_path(@post.user) %>

<%= time_ago_in_words(@post.created_at) %>前

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>Picture:</strong>
  <% if @post.picture.present? %>
    <%= image_tag @post.picture_url, onerror: 'this.onerror=null;this.src="/images/user/image/s0041_30_0.jpg"' %>
  <% else %>
    <%= image_tag "/images/post/default_posted_image.jpg" %>
  <% end %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<h2>いいね件数: <%= @post.likes.count %></h2>
<% if user_signed_in? %>
  <% if current_user.already_liked?(@post) %>
    <%= button_to 'いいねを取り消す', post_like_path(@post), method: :delete %>
  <% else %>
    <%= button_to 'いいね', post_likes_path(@post) %>
  <% end %>
<% end %>
<h2>いいねしたユーザー</h2>
<% @post.liked_users.each do |user| %>
  <li><%= user.email %></li>
<% end %>

<h2>コメント</h2>
<% @post.comments.each do |comment| %>
  <p>
    <%= comment.commenter %>: <%= comment.body %>
    <%= link_to '削除', [comment.post, comment],
               :confirm => 'よろしいですか？',
               :method => :delete %>

  </p>
<% end %>

<h2>コメントを書く</h2>
<%= form_for([@post, @post.comments.build]) do |f| %>
  <div class="field">
    <%= f.label :commenter %><br />
    <%= f.text_field :commenter %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>

<div class="side">
  <h2>プロフィール</h2>
    <%= image_tag @post.user.image.url, class: "article_detail_user_icon rounded-circle", onerror: 'this.onerror=null;this.src="/images/user/image/s0041_30_0.jpg"' %>
    <p><%= link_to @post.user.name,user_path(@post.user) %></p>
    <p>自己紹介：　<%= @post.user.profile %></p>
    <% if user_signed_in? %>
      <%= render "relationships/follow_button", user: @post.user %>
    <% end %>
    <h2>最新の記事</h2>
    <% @new_posts.each do |new_post| %>
      <div>
        <%= link_to new_post.title,new_post %>
      </div>
    <% end %>
  </div>
</div>