<!DOCTYPE html>
<html>
  <head>
    <title>AnimeloverCom</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <%= search_form_for @search  do |f| %>
      <%= f.search_field :title_cont %>
      <%= f.submit %>
    <% end %>
    
    <% if user_signed_in? %>
      <div><%= link_to 'マイページ', user_path(id: current_user.id)%></div>
      <div><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></div>
    <% else %>
      <div><%= link_to 'ログイン', new_user_session_path %></div>
      <div><%= link_to 'アカウント作成', new_user_registration_path %></div>
    <% end %>
    
    <%= yield %>
  </body>
</html>
